**About Book Crossing Dataset**<br>

This dataset has been compiled by Cai-Nicolas Ziegler in 2004, and it comprises of three tables for users, books and ratings. Explicit ratings are expressed on a scale from 1-10 (higher values denoting higher appreciation) and implicit rating is expressed by 0.

Reference: http://www2.informatik.uni-freiburg.de/~cziegler/BX/

**Objective**

This project entails building a Book Recommender System for users based on user-based and item-based collaborative filtering approaches.

#### Execute the below cell to load the datasets

In [379]:
#Loading data
import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
books = pd.read_csv("books.csv", sep=";", error_bad_lines=False, encoding="latin-1")
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']
users = pd.read_csv('users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']
ratings = pd.read_csv('ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'

### Check no.of records and features given in each dataset

In [380]:
books.shape

(271360, 8)

In [381]:
users.shape

(278858, 3)

In [382]:
ratings.shape

(1149780, 3)

## Exploring books dataset

In [383]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

### Drop last three columns containing image URLs which will not be required for analysis

In [384]:
books.drop(books.iloc[:, 5:8], inplace = True, axis = 1)

In [385]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

**yearOfPublication**

### Check unique values of yearOfPublication

In [386]:
books["yearOfPublication"].unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', 'DK Publishing Inc', '1943', '1938',
       '1900', '1942', '1923', '1920', '1933', 'Gallimard', '1909',
       '1946', '2008', '1378', '2030', '1936', '1947', '2011', '2020',
       '1919', '1949', '1922', '1897', '2024', '1376', '1926', '2037'],
      dtype=object)

As it can be seen from above that there are some incorrect entries in this field. It looks like Publisher names 'DK Publishing Inc' and 'Gallimard' have been incorrectly loaded as yearOfPublication in dataset due to some errors in csv file.


Also some of the entries are strings and same years have been entered as numbers in some places. We will try to fix these things in the coming questions.

### Check the rows having 'DK Publishing Inc' as yearOfPublication

In [387]:
books.loc[books["yearOfPublication"]=="DK Publishing Inc"]

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
209538,078946697X,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Book...",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...

### Drop the rows having `'DK Publishing Inc'` and `'Gallimard'` as `yearOfPublication`

In [388]:
books.drop(books[books["yearOfPublication"].isin(["Gallimard","DK Publishing Inc"])].index, inplace=True)
books["yearOfPublication"].unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', '1943', '1938', '1900', '1942', '1923',
       '1920', '1933', '1909', '1946', '2008', '1378', '2030', '1936',
       '1947', '2011', '2020', '1919', '1949', '1922', '1897', '2024',
       '1376', '1926', '2037'], dtype=object)

### Change the datatype of yearOfPublication to 'int'

In [389]:
books["yearOfPublication"]= pd.to_numeric(books["yearOfPublication"])

In [390]:
books.dtypes

ISBN                 object
bookTitle            object
bookAuthor           object
yearOfPublication     int64
publisher            object
dtype: object

### Drop NaNs in `'publisher'` column

In [391]:
books.dropna(axis=0, inplace= True)
books.isna()

         ISBN  bookTitle  bookAuthor  yearOfPublication  publisher
0       False      False       False              False      False
1       False      False       False              False      False
2       False      False       False              False      False
3       False      False       False              False      False
4       False      False       False              False      False
5       False      False       False              False      False
6       False      False       False              False      False
7       False      False       False              False      False
8       False      False       False              False      False
9       False      False       False              False      False
10      False      False       False              False      False
11      False      False       False              False      False
12      False      False       False              False      False
13      False      False       False              False      False
14      False      False       False              False      False
15      False      False       False              False      False
16      False      False       False              False      False
17      False      False       False              False      False
18      False      False       False              False      False
19      False      False       False              False      False
20      False      False       False              False      False
21      False      False       False              False      False
22      False      False       False              False      False
23      False      False       False              False      False
24      False      False       False              False      False
25      False      False       False              False      False
26      False      False       False              False      False
27      False      False       False              False      False
28      False      False       False              False      False
29      False      False       False              False      False
...       ...        ...         ...                ...        ...
271330  False      False       False              False      False
271331  False      False       False              False      False
271332  False      False       False              False      False
271333  False      False       False              False      False
271334  False      False       False              False      False
271335  False      False       False              False      False
271336  False      False       False              False      False
271337  False      False       False              False      False
271338  False      False       False              False      False
271339  False      False       False              False      False
271340  False      False       False              False      False
271341  False      False       False              False      False
271342  False      False       False              False      False
271343  False      False       False              False      False
271344  False      False       False              False      False
271345  False      False       False              False      False
271346  False      False       False              False      False
271347  False      False       False              False      False
271348  False      False       False              False      False
271349  False      False       False              False      False
271350  False      False       False              False      False
271351  False      False       False              False      False
271352  False      False       False              False      False
271353  False      False       False              False      False
271354  False      False       False              False      False
271355  False      False       False              False      False
271356  False      False       False              False      False
271357  False      False       False              False      False
271358  False      False       False              False      False
271359  False      False       False              False      False

[271354 rows x 5 columns]

## Exploring Users dataset

In [392]:
print(users.shape)
users.head()

(278858, 3)

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

### Get all unique values in ascending order for column `Age`

In [393]:
users["Age"].unique()

array([ nan,  18.,  17.,  61.,  26.,  14.,  25.,  19.,  46.,  55.,  32.,
        24.,  20.,  34.,  23.,  51.,  31.,  21.,  44.,  30.,  57.,  43.,
        37.,  41.,  54.,  42.,  50.,  39.,  53.,  47.,  36.,  28.,  35.,
        13.,  58.,  49.,  38.,  45.,  62.,  63.,  27.,  33.,  29.,  66.,
        40.,  15.,  60.,   0.,  79.,  22.,  16.,  65.,  59.,  48.,  72.,
        56.,  67.,   1.,  80.,  52.,  69.,  71.,  73.,  78.,   9.,  64.,
       103., 104.,  12.,  74.,  75., 231.,   3.,  76.,  83.,  68., 119.,
        11.,  77.,   2.,  70.,  93.,   8.,   7.,   4.,  81., 114., 230.,
       239.,  10.,   5., 148., 151.,   6., 101., 201.,  96.,  84.,  82.,
        90., 123., 244., 133.,  91., 128.,  94.,  85., 141., 110.,  97.,
       219.,  86., 124.,  92., 175., 172., 209., 212., 237.,  87., 162.,
       100., 156., 136.,  95.,  89., 106.,  99., 108., 210.,  88., 199.,
       147., 168., 132., 159., 186., 152., 102., 116., 200., 115., 226.,
       137., 207., 229., 138., 109., 105., 228., 183., 204.,  98., 223.,
       113., 208., 107., 157., 111., 146., 118., 220., 143., 140., 189.,
       127.])

Age column has some invalid entries like nan, 0 and very high values like 100 and above

### Values below 5 and above 90 do not make much sense for our book rating case...hence replace these by NaNs

In [394]:
for x in users['Age']:
    if ((x > 90.0) | (x < 5.0)):
        users["Age"].replace(to_replace = x, value = np.nan, inplace=True)
users['Age'].unique()

array([nan, 18., 17., 61., 26., 14., 25., 19., 46., 55., 32., 24., 20.,
       34., 23., 51., 31., 21., 44., 30., 57., 43., 37., 41., 54., 42.,
       50., 39., 53., 47., 36., 28., 35., 13., 58., 49., 38., 45., 62.,
       63., 27., 33., 29., 66., 40., 15., 60., 79., 22., 16., 65., 59.,
       48., 72., 56., 67., 80., 52., 69., 71., 73., 78.,  9., 64., 12.,
       74., 75., 76., 83., 68., 11., 77., 70.,  8.,  7., 81., 10.,  5.,
        6., 84., 82., 90., 85., 86., 87., 89., 88.])

### Replace null values in column `Age` with mean

In [395]:
users['Age'].fillna(value=np.mean(users['Age']), inplace=True)
users['Age'].unique()

array([34.72384042, 18.        , 17.        , 61.        , 26.        ,
       14.        , 25.        , 19.        , 46.        , 55.        ,
       32.        , 24.        , 20.        , 34.        , 23.        ,
       51.        , 31.        , 21.        , 44.        , 30.        ,
       57.        , 43.        , 37.        , 41.        , 54.        ,
       42.        , 50.        , 39.        , 53.        , 47.        ,
       36.        , 28.        , 35.        , 13.        , 58.        ,
       49.        , 38.        , 45.        , 62.        , 63.        ,
       27.        , 33.        , 29.        , 66.        , 40.        ,
       15.        , 60.        , 79.        , 22.        , 16.        ,
       65.        , 59.        , 48.        , 72.        , 56.        ,
       67.        , 80.        , 52.        , 69.        , 71.        ,
       73.        , 78.        ,  9.        , 64.        , 12.        ,
       74.        , 75.        , 76.        , 83.        , 68.        ,
       11.        , 77.        , 70.        ,  8.        ,  7.        ,
       81.        , 10.        ,  5.        ,  6.        , 84.        ,
       82.        , 90.        , 85.        , 86.        , 87.        ,
       89.        , 88.        ])

### Change the datatype of `Age` to `int`

In [396]:
users.Age.astype("int").head()

0    34
1    18
2    34
3    17
4    34
Name: Age, dtype: int32

In [397]:
print(sorted(users.Age.unique()))

[5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 34.72384041634689, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0]

## Exploring the Ratings Dataset

### check the shape

In [398]:
ratings.shape

(1149780, 3)

In [399]:
n_users = users.shape[0]
n_books = books.shape[0]

In [400]:
ratings.head(5)

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

### Ratings dataset should have books only which exist in our books dataset. Drop the remaining rows

In [401]:
ratings = ratings[ratings["ISBN"].isin(books["ISBN"])]

In [402]:
ratings.shape

(1031129, 3)

### Ratings dataset should have ratings from users which exist in users dataset. Drop the remaining rows

In [403]:
ratings = ratings[ratings["userID"].isin(users["userID"])]

In [404]:
ratings.shape

(1031129, 3)

### Consider only ratings from 1-10 and leave 0s in column `bookRating`

In [405]:
ratings.drop(ratings[(ratings['bookRating'] == 0)].index, inplace = True)

In [406]:
ratings.sample(10)

        userID        ISBN  bookRating
110646   25601  0345356950           8
103254   23872  0385188188           5
545085  130922  0394809378          10
316207   76264  0671021001           7
366132   87911  0440487617           5
12126     1025  0552999512           7
797459  193499  0679879250           9
76766    16634  0440003628           8
696585  169957  3462028189           9
351800   84443  0735710759          10

### Find out which rating has been given highest number of times

In [407]:
ratings['bookRating'].value_counts()

8     91803
10    71225
7     66401
9     60776
5     45355
6     31687
4      7617
3      5118
2      2375
1      1481
Name: bookRating, dtype: int64

"8" is the most appeared value.

### **Collaborative Filtering Based Recommendation Systems**

### For more accurate results only consider users who have rated atleast 100 books

In [408]:
ratings= ratings.groupby("userID").filter(lambda df:df["ISBN"].nunique() >= 100)
ratings.sample(10)

         userID        ISBN  bookRating
256275    59172  B00008RWPV          10
79052     16795  0399144714           7
482091   114988  0060175966           7
407384    98391  0373293224          10
1020201  244627  0671015400           8
36450      8681  1582970033           7
157540    35859  0141802189           8
827678   200226  0451202821           9
197846    43910  074341134X           8
331146    78834  0064472272          10

### Generating ratings matrix from explicit ratings

#### Note: since NaNs cannot be handled by training algorithms, replace these by 0, which indicates absence of ratings

In [409]:
ratings.fillna(0).sample(10)

        userID        ISBN  bookRating
477962  114368  0385335520           5
170214   36836  1885394179          10
411674   98391  1594660182          10
322165   76626  0340227109           7
704503  171118  0441007465           7
393159   94951  0345381688           9
175728   38023  0439108403           8
631979  153662  0060281294           7
489830  116599  1551669137           9
408841   98391  0451207963           8

### Generate the predicted ratings using SVD with no.of singular values to be 50

In [411]:
R_df = ratings.pivot(index = 'userID', columns = 'ISBN', values = 'bookRating').fillna(0)
R_df.sample(10)

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
userID,,,,,,,,,,,,,,,,,,,,,
266226,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
76223,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94347,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
217740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
264031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
271448,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
134434,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78783,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
217318,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
182993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [418]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_df, k = 50)

In [419]:
sigma = np.diag(sigma)

In [420]:
all_users_predicted_ratings = np.dot(np.dot(U, sigma), Vt)

In [422]:
preds_df = pd.DataFrame(all_users_predicted_ratings, columns = R_df.columns)
preds_df.head()

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A,userID
0,0.020062,-0.007138,-0.004758,-0.007138,-0.007138,0.017065,-0.002888,0.005974,0.005974,0.021929,...,0.019675,0.049423,-0.021245,-0.100114,0.022515,0.033719,0.013648,0.019567,0.059618,2110.002031
1,-0.018243,-0.011820,-0.007880,-0.011820,-0.011820,0.022940,0.007225,-0.004533,-0.004533,0.021484,...,0.030381,0.034353,-0.015621,-0.052384,0.029913,0.014578,0.018478,0.033891,-0.024225,2109.989023
2,-0.021190,-0.019260,-0.012840,-0.019260,-0.019260,0.024479,-0.007469,0.010385,0.010385,0.019023,...,0.031845,0.049308,0.003484,0.094297,0.031498,0.012860,0.019094,0.039071,-0.062105,2110.006065
3,-0.014617,0.052628,0.035085,0.052628,0.052628,0.029885,0.043220,-0.001158,-0.001158,0.038289,...,0.029137,0.035151,0.015238,0.047688,0.033279,0.005927,0.017866,0.037222,-0.018350,2110.021555
4,-0.010750,-0.022538,-0.015025,-0.022538,-0.022538,0.034207,0.005627,-0.001997,-0.001997,0.024730,...,0.054558,-0.009741,0.007998,0.575841,0.048490,0.000727,0.032549,0.065275,0.034905,2110.017102

### Take a particular user_id

### Lets find the recommendations for user with id `2110`

#### Note: Execute the below cells to get the variables loaded

In [423]:
userID = 2110

In [429]:
user_id = 2 #2nd row in ratings matrix and predicted matrix

### Get the predicted ratings for userID `2110` and sort them in descending order

In [430]:
user_row_number = user_id - 1 # UserID starts at 1, not 0
sorted_user_predictions = preds_df.iloc[user_row_number].sort_values(ascending=False)
sorted_user_predictions

ISBN
userID        2109.989023
059035342X       0.999298
0316666343       0.962120
0385504209       0.680694
043935806X       0.656300
0446310786       0.650215
044021145X       0.602388
0439064872       0.577531
0345370775       0.569129
0312195516       0.531479
0385484518       0.509730
0060392452       0.503842
0452282152       0.499916
0439139597       0.487960
0446672211       0.481831
0060928336       0.452136
0743418174       0.447135
0345339681       0.434510
0439136350       0.423471
0440213525       0.418411
0440206154       0.416842
0345337662       0.408004
0439064864       0.404176
0671027360       0.404053
067976402X       0.402146
0156027321       0.399261
0380002930       0.398927
0805063897       0.398731
0439136369       0.392539
0440221471       0.388405
                 ...
0440129265      -0.100072
042516876X      -0.100198
0805036377      -0.101009
014131088X      -0.101092
0440205573      -0.101311
0375706062      -0.101402
0446607207      -0.101560
0425179605      -0.102366
0671534726      -0.103014
0440229081      -0.103919
0440200563      -0.104223
014034991X      -0.110760
0440124344      -0.110974
0140251367      -0.111334
0440146577      -0.112400
0679767789      -0.113657
0671682911      -0.113877
0451184734      -0.117559
0385472943      -0.119131
0684843269      -0.119900
0807508527      -0.120501
0671510126      -0.122856
0064405176      -0.123857
0821759833      -0.124135
0553213180      -0.125636
0553569635      -0.126133
0316236446      -0.126979
0671769316      -0.127976
0440214114      -0.141927
0671744577      -0.146213
Name: 1, Length: 66573, dtype: float64

### Create a dataframe with name `user_data` containing userID `2110` explicitly interacted books

In [434]:
user_data = ratings[ratings.userID == userID]

In [435]:
user_data.head()

       userID        ISBN  bookRating
14448    2110  0060987529           7
14449    2110  0064472779           8
14450    2110  0140022651          10
14452    2110  0142302163           8
14453    2110  0151008116           5

In [436]:
user_data.shape

(103, 3)

### Combine the user_data and and corresponding book data(`book_data`) in a single dataframe with name `user_full_info`

In [437]:
user_full_info = pd.merge(user_data,books,on='ISBN')

In [439]:
user_full_info.head()

,userID,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,publisher
0,2110,0060987529,7,Confessions of an Ugly Stepsister : A Novel,Gregory Maguire,2000,Regan Books
1,2110,0064472779,8,All-American Girl,Meg Cabot,2003,HarperTrophy
2,2110,0140022651,10,Journey to the Center of the Earth,Jules Verne,1965,Penguin Books
3,2110,0142302163,8,The Ghost Sitter,Peni R. Griffin,2002,Puffin Books
4,2110,0151008116,5,Life of Pi,Yann Martel,2002,Harcourt

### Get top 10 recommendations for above given userID from the books not already rated by that user

In [440]:
recommendations = (books[~books['ISBN'].isin(user_full_info['ISBN'])].
     merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left', left_on = 'ISBN', right_on = 'ISBN').
     rename(columns = {user_row_number: 'Predictions'}))

#sort the prediction values
recommendations = (recommendations.sort_values('Predictions', ascending = False).
                   iloc[:10, :-1]
                  )

In [441]:
print('The top 10 recommendatations for user id %d are as below'% (userID))
recommendations

The top 10 recommendatations for user id 2110 are as below

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
407,0316666343,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown"
747,0385504209,The Da Vinci Code,Dan Brown,2003,Doubleday
5458,043935806X,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,Scholastic
37,0446310786,To Kill a Mockingbird,Harper Lee,1988,Little Brown &amp; Company
455,044021145X,The Firm,John Grisham,1992,Bantam Dell Publishing Group
3413,0439064872,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,2000,Scholastic
1192,0345370775,Jurassic Park,Michael Crichton,1999,Ballantine Books
521,0312195516,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA
2283,0385484518,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,1997,Doubleday
2758,0060392452,Stupid White Men ...and Other Sorry Excuses fo...,Michael Moore,2002,Regan Books